<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Getting user data</title>
</head>
<body>
{% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form action="" method="post">
        <p>
            <label for="username">Username</label>
            <input type="text" name="username">
        </p>
        <p>
            <label for="weight">Weight</label>
            <input type="number" name="weight">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>

</body>
</html>