<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Getting user data</title>
</head>
<body>
{% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form action="" method="post">
        <p>
            <label for="username">User Id</label>
            <input type="email" name="username">
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" name="password">
        </p>
        <p>
            <label for="weight">Weight(lbs)</label>
            <input type="number" name="weight">
        </p>
        <p>
            <label for="height">Height(inches)</label>
            <input type="number" name="height">
        </p>
        <p>
            <label for="age">Age</label>
            <input type="number" name="age">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>

</body>
</html>